/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom,
   #009688 0px 15vh, #D9DBD5 15vh 100vh);
  font-family: 'Lato', sans-serif;
}
/* fine regole generali */
.container{
  width: 80%;
  min-width: 950px;
  height: calc(100vh - 40px);
  margin: 20px auto;
  background-color: white;
  display: flex;
  flex-direction: row;
}
/* inizio contenitore a sinistra */
/* contenitore */
.container .inner-container-left{
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}
/* /contenitore */
/* header */
.container .inner-container-left .header-left{
  min-height: 60px;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* header left left */
.container .inner-container-left .header-left .header-left-left{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .inner-container-left .header-left .header-left-left img{
  height: 50px;
  margin: 5px;
  border-radius: 50%;
}
.container .inner-container-left .header-left .header-left-left h2{
  font-size: 20px;
}
/* /header left left */
/* header left right */
.container .inner-container-left .header-left .header-left-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .inner-container-left .header-left .header-left-right a i{
  color: #B1B1B1;
  margin-right: 20px;
}
/* /header left right */
/* /header */
/* notification */
.container .inner-container-left .notification{
  min-height: 80px;
  width: 100%;
  background-color: #8EDAFC;
}
/* fine notification */
/* search */
.container .inner-container-left .search{
  height: 40px;
  width: 100%;
  padding: 10px;
  background-color: #FAFAFA;
}
/* /search */
/* inner-search */
.container .inner-container-left .search .inner-search{
  background-color: white;
  height: 20px;
  width: calc(100% - 0px)
}
/* /inner-search */
/* users */
.container .inner-container-left .users{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
/* /users */
/* user */
.container .inner-container-left .users .user{
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #FAFAFA;
}
/* /user */
/* fine contenitore a sinistra */
/* inizio contenitore a destra */
.container .inner-container-right{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}
/* header */
.container .inner-container-right .header-right{
  min-height: 60px;
  width: 100%;
  background-color: #EAEAEA;
  border-left: 1px solid #DADADA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* header right left */
.container .inner-container-right .header-right .header-right-left{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .inner-container-right .header-right .header-right-left img{
  height: 50px;
  margin: 5px;
  border-radius: 50%;
}
.container .inner-container-right .header-right .header-right-left h2{
  font-size: 20px;
}
.container .inner-container-right .header-right .header-right-left p{
  color: #B1B1B1;
}
/* /header right left */
/* header right right */
.container .inner-container-right .header-right .header-right-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .inner-container-right .header-right .header-right-right a i{
  color: #B1B1B1;
  margin-right: 20px;
}
/* /header right right */
/* /header */
/* messages */
.container .inner-container-right .messages{
  background-image: url('../img/mine.jpg');
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
/* /messages */
/* chat */
.container .inner-container-right .chat{
  min-height: 80px;
  width: 100%;
  background-color: #F3EEEA;
  border-left: 1px solid #DADADA;
}
/* fine chat */
/* fine contenitore a destra */
