/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom,
     #009688 0px 15vh, #D9DBD5 15vh 100vh);
}
/* fine regole generali */
