/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
    outline: none;
}
body{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom,
   #009688 0px 15vh, #D9DBD5 15vh 100vh);
  font-family: 'Lato', sans-serif;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
/* fine regole generali */
#container{
  width: 80%;
  min-width: 950px;
  height: calc(100vh - 40px);
  margin: 20px auto;
  background-color: white;
  display: flex;
  flex-direction: row;
}
/* inizio contenitore a sinistra */
/* contenitore */
#container .inner-container-left{
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}
/* /contenitore */
/* header */
#container .inner-container-left .header-left{
  min-height: 70px;
  width: 100%;
  background-color: #EDEDED;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* header left left */
#container .inner-container-left .header-left .header-left-left{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#container .inner-container-left .header-left .header-left-left img{
  height: 60px;
  margin: 5px;
  border-radius: 50%;
}
#container .inner-container-left .header-left .header-left-left h2{
  font-size: 20px;
}
/* /header left left */
/* header left right */
#container .inner-container-left .header-left .header-left-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#container .inner-container-left .header-left .header-left-right a i{
  color: #B1B1B1;
  margin-right: 20px;
}
/* /header left right */
/* /header */
/* notification */
#container .inner-container-left .notification{
  min-height: 80px;
  width: 100%;
  background-color: #8EDAFC;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#container .inner-container-left .notification i.fa-bell-slash{
  color: #8EDAFC;
  background-color: white;
  margin: 10px 15px;
  padding: 15px 12px;
  border-radius: 50%;
}
#container .inner-container-left .notification h2{
  font-size: 20px;
  margin-right: 10px;
}
#container .inner-container-left .notification a p{
  color: black;
  text-decoration: underline;
}
/* fine notification */
/* search */
#container .inner-container-left .search{
  height: 50px;
  width: 100%;
  padding: 10px;
  background-color: #FAFAFA;
}
/* /search */
/* inner-search */
#container .inner-container-left .search .inner-search{
  background-color: white;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#container .inner-container-left .search .inner-search a i{
  color: #BFC4CA;
  margin: 0 20px;
}
#container .inner-container-left .search .inner-search input{
  width: 100%;
  border-style: none;
  font-size: 15px;
  color: #BFC4CA;
}
/* /inner-search */
/* users */
#container .inner-container-left .users{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
/* /users */
/* user */
#container .inner-container-left .users .user{
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #EDEDED;
  display: flex;
  flex-direction: row;
}
#container .inner-container-left .users .user img{
  height: 60px;
  margin: 10px;
  border-radius: 50%;
}
#container .inner-container-left .users .user h2{
  margin: 10px 20px;
  font-size: 20px;
}
#container .inner-container-left .users .user p{
  margin-left: 20px;
  font-size: 18px;
  color: grey;
}
/* /user */
/* fine contenitore a sinistra */
/* inizio contenitore a destra */
#container .inner-container-right{
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
}
/* header */
#container .inner-container-right .header-right{
  min-height: 70px;
  width: 100%;
  background-color: #EDEDED;
  border-left: 1px solid #DADADA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* header right left */
#container .inner-container-right .header-right .header-right-left{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#container .inner-container-right .header-right .header-right-left img{
  height: 60px;
  margin: 5px;
  border-radius: 50%;
}
#container .inner-container-right .header-right .header-right-left h2{
  font-size: 20px;
}
#container .inner-container-right .header-right .header-right-left p{
  color: #B1B1B1;
}
/* /header right left */
/* header right right */
#container .inner-container-right .header-right .header-right-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#container .inner-container-right .header-right .header-right-right a i{
  color: #B1B1B1;
  margin-right: 20px;
}
/* /header right right */
/* /header */
/* messages */
#container .inner-container-right .messages{
  background-image: url('../img/mine.jpg');
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
#container .inner-container-right .messages .conversation{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#container .inner-container-right .messages .sent-message{
  background-color: #DCF8C6;
  border-radius: 10px;
  margin: 20px 80px 0 0;
  padding: 10px 40px 20px 10px;
  text-align: left;
  max-width: 50%;
  position: relative;
  box-shadow: 0 3px 2px -2px gray;
  word-wrap: break-word;
  word-break: break-word;
}
#container .inner-container-right .messages p{
  position: absolute;
  bottom: 10px;
  right: 5px;
  color: lightgrey;
  font-size: 10px;
  text-align: right;
}
#container .inner-container-right .messages .dropbox{
  background-color: white;
  position: absolute;
  top: 25px;
  right: 5px;
  border-radius: 5px;
  width: 130px;
  text-align: center;
  display: none;
}
#container .inner-container-right .messages .dropbox.active{
  display: block;
}
#container .inner-container-right .messages .dropbox ul li{
  padding: 10px 0;
  color: grey;
}
#container .inner-container-right .messages .dropbox ul li:first-child{
  border-bottom: 1px solid lightgrey;
}
#container .inner-container-right .messages .sent-message i.fa-caret-down{
  position: absolute;
  top: -10px;
  right: -10px;
  color: #DCF8C6;
}
#container .inner-container-right .messages .sent-message a i.fa-angle-down{
  color: grey;
  position: absolute;
  top: 10px;
  right: 5px;
}
#container .inner-container-right .messages .riceved-message{
  background-color: white;
  border-radius: 10px;
  margin: 20px 0 0 80px;
  align-self: flex-start;
  padding: 10px 40px 20px 10px;
  text-align: left;
  max-width: 50%;
  position: relative;
  box-shadow: 0 3px 2px -2px gray;
  word-wrap: break-word;
  word-break: break-word;
}
#container .inner-container-right .messages .riceved-message i.fa-caret-down{
  position: absolute;
  top: -10px;
  left: -10px;
  color: white;
}
#container .inner-container-right .messages .riceved-message a i.fa-angle-down{
  color: grey;
  position: absolute;
  top: 10px;
  right: 5px;
}
/* /messages */
/* chat */
#container .inner-container-right .chat{
  min-height: 80px;
  width: 100%;
  background-color: #F3EEEA;
  border-left: 1px solid #DADADA;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#container .inner-container-right .chat a i{
  color: grey;
  margin: 0 25px;
}
#container .inner-container-right .chat input{
  width: 100%;
  height: 60px;
  font-weight: bold;
  padding-left: 10px;
  border: 1px solid grey;
}
/* fine chat */
/* fine contenitore a destra */
