<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <title>Whatsapp web</title>
</head>
<body>
  <!-- inizio contenitore -->
  <div id="container">
    <!-- inizio contenitore a sinistra -->
    <div class="inner-container-left">
      <!-- inizio header sinistra -->
      <div class="header-left">
        <!-- inizio header left left -->
          <div class="header-left-left">
            <img src="img/avatar_io.jpg" alt="avatar">
            <h2>Nome Utente</h2>
          </div>
        <!-- fine header left left -->
        <!-- inizio header left right -->
        <div class="header-left-right">
          <a href="#"><i class="fas fa-circle-notch fa-lg"></i></a>
          <a href="#"><i class="fas fa-comment-alt fa-lg"></i></a>
          <a href="#"><i class="fas fa-ellipsis-v fa-lg"></i></a>
        </div>
        <!-- fine header left right -->
      </div>
      <!-- fine header sinistra -->
      <!-- inizio sezione notifiche -->
      <div class="notification">
        <i class="fas fa-bell-slash fa-lg"></i>
        <div class="text">
          <h2>Ricevi notifiche di nuovi messaggi</h2>
          <a href="#"><p>Attiva notifiche desktop</p></a>
        </div>
      </div>
      <!-- fine sezione notifiche -->
      <!-- inzio barra ricerca -->
      <div class="search">
        <div class="inner-search">
          <a href="#"><i class="fas fa-search fa-lg"></i></a>
          <input v-model='searched' type="text" placeholder="Cerca o inizia una nuova chat">
        </div>
      </div>
      <!-- fine barra ricerca -->
      <!-- inizio sezione users -->
      <div class="users">
        <a href="#">
          <div class="user" v-for = '(user, index) in contacts' v-if='user.name.toLowerCase().includes(searched.toLowerCase())' @click='clicked(index)'>
            <img :src="'img/avatar' + user.avatar + '.jpg'" alt="avatar">
            <div class="last-message">
              <h2>{{user.name}}</h2>
              <p>{{user.riceved[user.riceved.length - 1]}}</p>
            </div>
          </div>
        </a>
      </div>
      <!-- fine sezione users -->
    </div>
    <!-- fine contenitore a sinistra -->
    <!-- inizio contenitore a destra -->
    <div class="inner-container-right">
      <!-- inizio header destra -->
      <div class="header-right">
        <!-- inizio header left left -->
          <div class="header-right-left">
            <img :src="'img/avatar' + contacts[indice].avatar + '.jpg'" alt="avatar">
            <div class="text">
              <h2>{{contacts[indice].name}}</h2>
              <p>{{contacts[indice].stato}}</p>
            </div>
          </div>
        <!-- fine header left left -->
        <!-- inizio header left right -->
        <div class="header-right-right">
          <a href="#"><i class="fas fa-search fa-lg"></i></a>
          <a href="#"><i class="fas fa-paperclip fa-lg"></i></a>
          <a href="#"><i class="fas fa-ellipsis-v fa-lg"></i></a>
        </div>
        <!-- fine header left right -->
      </div>
      <!-- fine header destra -->
      <!-- inizio messaggi -->
      <div class="messages">
        <div class="conversation" v-for='(message, index) in contacts[indice].sent'>
          <div class="sent-message">
            {{contacts[indice].sent[index]}}
            <p>{{contacts[indice].dateSent[index]}}</p>
            <i class="fas fa-caret-down fa-2x"></i>
            <a href="#" @click='showBoxsent'><i class="fas fa-angle-down"></i></a>
            <div class="dropbox" :class='contacts[indice].displaySent'>
              <ul>
                <li><a href="#" @click='deleteMessagesent'>Delete message</a></li>
                <li><a href="#">Message info</a></li>
              </ul>
            </div>
          </div>
          <div class="riceved-message">
            {{contacts[indice].riceved[index]}}
            <p>{{contacts[indice].dateRiceved[index]}}</p>
            <i class="fas fa-caret-down fa-2x"></i>
            <a href="#" @click='showBoxriceved'><i class="fas fa-angle-down"></i></a>
            <div class="dropbox" :class='contacts[indice].displayRiceved'>
              <ul>
                <li><a href="#">Delete message</a></li>
                <li><a href="#">Message info</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- fine messaggi -->
      <!-- inizio chat -->
      <div class="chat">
        <a href="#"><i class="far fa-smile fa-2x"></i></a>
        <input v-model='contacts[indice].chat' @keyup.enter="sentMessage(contacts[indice].chat)" type="text" placeholder="Scrivi un messaggio">
        <a href="#"><i class="fas fa-microphone fa-2x"></i></a>
      </div>
      <!-- fine chat -->
    </div>
    <!-- fine contenitore a destra -->
  </div>
  <!-- fine contenitore -->

  <!-- javascript -->
  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
